# Python
__pycache__/
.mypy_cache/

# Virtual Environment
chatbot/

# Environment Variables
.env

# SQLite
chatbot.db
chatbot.db-wal
chatbot.db-shm

# FAISS Vector Database
faiss_db/

# IDE
.vscode/

